body {
    background-color: #f7f3de;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 100%;
}

.titulo {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.9em;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.formulario label {
    font-size: 1.4em;
    font-weight: bold;
}

.formulario input {
    width: 100%;
    max-width: 25rem;
    height: 2rem;
    display: inline-block;
    border-radius: 0.5em;
    border: none;
    font-size: 1em;
    padding-left: 1em;
    background-color: #5a5760;
    color: white;
}

.boton {
    padding: 0.8rem 1.5rem;
    font-size: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: #5a5760;
    color: white;
    cursor: pointer;
}

.opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}


.olvidasteContraseña{
    font-size: 1.5em;
    color: red;
}

.registro{
    font-size: 1.5em;
    color: green;
    margin-bottom: 2rem;
}


@media (max-width: 768px) {
    .formulario {
    margin: 1rem;
    padding: 1rem;
}

}


@media (max-width: 425px) {

    .formulario {
    margin: 0.5rem;
    padding: 0.5rem;
}

.formulario label {
    width: 90%;
    font-size: 0.9em;
}
.formulario input {
    width: 90%;
}
.boton {
    width: 100%;
    max-width: 20rem;
}
}